* {
  font-family: 'Ubuntu', sans-serif;
  margin: auto auto;
}

body {
  background: #B0B0B0;
}

h1 {
  margin: 20px;
  margin-left: 50px;
  text-align: left;
}

/* toolbar stuff */

#toolbar {
  background-color: #F5F5F5;
  width: 300px;
  height: 30px;
  margin-left: 50px;
  border-radius: 5px;
}

#b {
  background-color: #fff;
  width: 30px;
  height: 20px;
  text-align: center;
  color: black;
  border-radius: 50px;
  margin: 5px;
}

#i {
  background-color: #fff;
  width: 30px;
  height: 20px;
  text-align: center;
  color: black;
  border-radius: 50px;
  margin: 5px;
}

#u {
  background-color: #fff;
  width: 30px;
  height: 20px;
  text-align: center;
  color: black;
  border-radius: 50px;
  margin: 5px;
}

#save {
  background-color: #fff;
  width: 100px;
  height: 20px;
  text-align: center;
  color: black;
  border-radius: 50px;
  margin: 5px;
}

/* end toolbar, begin text box */

#mainbox {
  width: 500px;
  height: 600px;
  margin-top: 20px;
  margin-left: 50px;
}
