* {
  font-family: 'Ubuntu', sans-serif;
  margin: auto auto;
  outline: none;
  border: thin;
}

body {
  background: #F0F0F0;
  overflow: auto;  
}

h1 {
  margin: 20px;
  margin-left: 50px;
  text-align: left;
  color: #E80000;
  font-size: 250%;
}

#repo {
  text-decoration: none;
  font-size: 35%;
  margin: auto auto;
  padding: 10px;
  text-align: center;
  padding-bottom: 8px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #dadada;
  float: right;
}

#repo img {
  vertical-align: middle;
}

/* toolbar stuff */

#toolbar {
  background-color: #DCDCDC;
  border-radius: 10px;
  width: 90%;
  height: 20px;
  padding: 10px;
  padding-bottom: 13px;
  margin-left: 46px;
  position: sticky;
}

#toolbar button {
  transition: all .2s;
  color: #000;
  background-color: #99ebff;
  padding: 7px 15px;
  vertical-align: center;
  text-align: center;
  font-size: 80%;
  margin-left: 45px;
  margin-top: -7px;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.2s ease 0s;
  cursor: pointer;
}

#toolbar button:hover {
  cursor: pointer;
  background-color: #00CCFF;
  /*   background-color: rgb(204, 255, 255); */
  transform: translateY(-5px);
  box-shadow: 3px 3px 10px grey;
}

#toolbar button:active {
  box-shadow: 2px 2px 2px grey;
  transform: translateY(3px);
  background-color: #;fff
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: 1px 1px 1px grey;
}

#toolbar button.inUse {
  background-color: rgb(0, 255, 255); 
}

/* end toolbar, begin text box */

#mainbox {
  width: 1307px;
  height: 600px;
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 30px;
  margin-left: 45px;
  border-radius: 10px;
  background-color: #fff;
  overflow: auto;
  color: #000;
  background-repeat: repeat;
}
