* {
  font-family: 'Ubuntu', sans-serif;
  margin: auto auto;
}

body {
  background: #eee;
}

h1 {
  margin: 20px;
  margin-left: 50px;
  text-align: left;
}

/* toolbar stuff */

#toolbar {
  background-color: #eee;
  width: 300px;
  height: 30px;
  margin-left: 50px;
}

#toolbar button {
  border-radius: 0px;
  border-color: 1px solid black;
  color: black;
  background-color: #fff;
  margin: 5px;
  text-align: center;
  height: 20px;
}

/* end toolbar, begin text box */

#mainbox {
  width: 500px;
  height: 600px;
  margin-top: 20px;
  margin-left: 50px;
}
